<!DOCTYPE html>
<html>

<head>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="webservice.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="theme.css">
</head>

<body>
    <div class="w3-container w3-green">
        <h1 align="center">Motor App </h1>
        <label class="powerStatus" id ="powerStatuslbl">
            <h2>Power is Available</h2>
        </label>
    </div>
    <div style="background-color:#843636;padding:15px;">
        <div class="refresh">
            <h5>DeviceID:</h5>
            <input type="text" id="txt_deviceid" value="">
            <input type="submit" value="REFRESH" onclick="getMotorAPI()">
        </div>

    </div>
    <div style="background-color:#f1f1f1;padding:15px;">
        <label id="phase" class="form">Phase Status</label>
    </div>
    <div style="background-color:#979191;padding:15px;">
        <div class="w3-row-padding">
            <div class="w2-two">
                <h2>Ams Details</h2>
                <meter id="amsMeter" value="2" min="0" max="100">2 out of 10</meter>
                <br>
                <br>
                <label id="lblAMS">AMS Value : </label>
                <br>
            </div>
            <div class="w2-two">
                <h2>Voltage Details</h2>
                <meter id="volMeter" value="2" min="0" max="100">2 out of 10</meter>
                <br>
                <br>
                <label id="lblVOL">Voltage Value : </label>
            </div>
        </div>
    </div>
    <div style="background-color:#843636;padding:15px;">
        <div class="btn-group">
            <button>Motor 1 On </button>
            <button>Off</button>
            <button>Motor 2 On</button>
        </div>
    </div>

    <style>
        .refresh {
            align-self: right;
        }

        .powerStatus {
            color: blue;
            font-family: verdana;
        }

        .btn-group button {
            background-color: #4CAF50;
            /* Green background */
            border: 1px solid green;
            /* Green border */
            color: white;
            /* White text */
            padding: 10px 24px;
            /* Some padding */
            cursor: pointer;
            /* Pointer/hand icon */
            float: left;
            /* Float the buttons side by side */
        }

        /* Clear floats (clearfix hack) */
        .btn-group:after {
            content: "";
            clear: both;
            display: table;
        }

        .btn-group button:not(:last-child) {
            border-right: none;
            /* Prevent double borders */
        }

        /* Add a background color on hover */
        .btn-group button:hover {
            background-color: #3e8e41;
        }

        .button {
            padding: 15px 25px;
            font-size: 10px;
            text-align: center;
            cursor: pointer;
            outline: none;
            color: #fff;
            background-color: #4CAF50;
            border: none;
            border-radius: 15px;
            box-shadow: 0 9px #999;
        }

        .button:hover {
            background-color: #3e8e41
        }

        .button:active {
            background-color: #3e8e41;
            box-shadow: 0 5px #666;
            transform: translateY(4px);
        }

        .buttonMobile {
            padding: 15px 25px;
            font-size: 10px;
            text-align: center;
            cursor: pointer;
            outline: none;
            color: #fff;
            background-color: #4CAF50;
            border: none;
            border-radius: 15px;
        }
    </style>

</body>

</html>